recitations/2025 10 15/movies.xsd

<?xml version="1.0"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="movies">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="movie" maxOccurs="unbounded">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="title" type="xs:string" />
                                <xs:element name="director" type="xs:string" />
                                <xs:element name="year" type="xs:integer" />
                                <xs:element name="rating" type="xs:decimal" />                            
                            </xs:sequence>
                            <xs:attribute name="id" type="xs:integer" use="required" />
                            <xs:attribute name="language" type="xs:string" use="required" />
                        </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
